* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    font-family: arial, sans-serif; 
}

/* section header */
header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
}
header img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
}
header h1 {
    font-size: 20px;
}
header h2 {
    
    font-size: 20px;
    font-weight: normal;
}

@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    }

@media (orientation: portrait) and (min-width: 410px) {
header h1 {
    font-size: 26px;
}
header h2 {
    font-size: 26px;
}
header img {
    right: -20%;
}

@media (orientation: portrait) and (min-width: 768px) {
    header p {
      font-size: 80px;
    }
    header h1 {
      font-size: 32px;
    }
    header h2 {
      font-size: 32px;
    }
  
    header img {
      right: -20%;
    }
  }
}
@media (orientation: landscape){
    header img {
        position: absolute;
        height: 80%;
        bottom: 0;
        right: -5px;
    }
    header div.welcome {
        top: 15%;
        left: 5%;
        right: 50%;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {

    header p {
        font-size: 56px;
    }
    header h1 {
        font-size: 34px;
        margin-top: 40px; 
    }
    header h2 {
        font-size: 34px;
    }

    header img {
        right: -22%;
        height: 95%;
    }
}
@media (orientation: landscape) and (min-width: 1280px) {
    header div.welcome {
        text-align: left;
    }
    header p {
        font-size: 100px;
    }
    header h1 {
        font-size: 40px;
        margin-top: 50px; 
    }
    header h2 {
        font-size: 45px;
    }

    header img {
        right: -18%;
        height: 85%;
    }
}
/* section feature */

.features {
    max-width: 1600px;
    margin: 50px auto 0;
    margin-top: 10px;
    padding: 5%;
    text-align: center;
    
}
.features h1 {
    font-family: 'Saira Condensed' sans-serif; 
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.features h2 {
    font-family: 'Saira Condensed' sans-serif;
    padding: 10px;
}
.features img {
    width: 100%;
    margin: 20px 0;
    max-width: 300px;
}
.features p {
    font-family: 'Saira' sans-serif; 
    font-size: 16px;
    font-weight: 300;
    
}

@media (min-width: 360px) {
    .feature h1 {
        font-size: 28px;
    }
    .feature h2 {
        font-size: 24px;
    }

}
@media (min-width: 768px) {
    .feature h1 {
        font-size: 34px;
    }
    .feature h2 {
        font-size: 24px;
    }
    .feature p {
        font-size: 18px;
    }
}
@media (min-width: 1024px) {
    .feature {
        float: left;
        width: 33%;
        padding: 30px;
    }
    .features h1{
        font-size: 36px;
    }
    .features h2 {
        font-size: 22px;
    }
    .features p{
        font-size: 21px;
        padding: 0 10px;
        margin-top: 10px;
    }
    
}
@media (min-width: 1600px) {
    .feature {
        padding:  20px 40px;
    }
    .features h1 {
        font-size: 55px;
    }
    .feature h2 {
        font-size: 36px;
    }
    .feature p {
        font-size: 21px;
        padding: 0 10px;
    }
}


/* section slogan */

.slogan {
    text-align: center;
    background-image: url("../images/photo2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.slogan p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    text-align: center;
}
  .slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.4);
}

@media (orientacion: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
  
@media (min-width: 768px) {
    .slogan .bg {
        padding-top: 50px 10px;
    }
    .slogan h1 {
        font-size: 38px;
        margin-bottom: 25px
    }
    .slogan p {
        font-family: 'Saria', sans-serif;
        font-size: 26px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {

    .slogan .bg {
      padding: 80px 10px;
    }
  
    .slogan h1 {
      font-size: 60px;
      margin-bottom: 35px;
    }
  
    .slogan p {
      font-size: 26px;
      width: 60%;
    }
}

/* section hobby */
.hobby .item {
    height: 30vh;
    background-position: center;
}
.hobby .item {
    background-repeat: no-repeat;
    background-position: center;
}
 .hobby .item:nth-of-type(1) {
    background-image: url(../images/isolate-1209275_1920.jpg);
    
}
 .hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
 }
.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
    
}
.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
    
}
.hobby .item p {
    font-family: 'saira', sans-serif;
    color: white;
    text-align: center;
    /* line-height: 25vh; */
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.hobby h1 {
    font-family: 'saira condensed', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}
@media (min-width: 768px) {
    .hobby h1 {
        margin-top: 40px;
        font-size: 48px;
        margin-bottom: 35px;
    }
    .hobby .item p {
        font-size: 30px;
    }
}
@media (min-width: 1024px) {
    .hobby .item p {
        line-height: 40vh;
        margin-bottom: 35px;
        opacity: 0;
        transition: 1s;
    }
    .hobby .item:hover p {
        opacity: 1;
    }
    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }
    .hobby .item:hover  {
        background-size: 130%;
    }
}
/* @media (min-width: 1600px) {

 }? */

/* section contact */
.contact {
    color: white;
    text-align: center;
}
.contact .detail img {
     max-height: 35px;
}
.contact .detail p {
    font-family: 'saira', sans-serif;
}
.detail  {
    background-color: black;
    padding: 15px;
}
.contact h1 {
      background-color: white;
      text-transform: uppercase;
      color: black;
      margin-top: 30px;
      margin-bottom: 30px;
}

/* .lol {
    height: 400px;
    width: 100%;
    background-color: black;
}
 */

